doctype html
html
  head
    base(href="/")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    | !{htmlWebpackPlugin.files.webpackChunkManifest}
    script(src=`${htmlWebpackPlugin.options.custom.assets.vendor.js}` defer)
    if htmlWebpackPlugin.options.custom.IS_PRODUCTION_ENV
      script(src=`${htmlWebpackPlugin.files.chunks['webpack-runtime'].entry}` defer)
    script(src=`${htmlWebpackPlugin.files.chunks.app.entry}` defer)
  body
    #app